body {
    font-family: "futura-pt", sans-serif;
    font-size: medium;
    font-weight: 500;
    margin: 0;
    padding: 0;
  }
  
  .container {
    text-align: center;
    color: #422A23;
    font-family: "futura-pt", sans-serif;
    font-size: 24px;
    max-width: 95%;
    margin: 0;
    padding: 20px;
  }
  
  /* Main Page styles */
  .nav-bar {
    width: 100%;
    font-family: "freight-text-pro", serif;
    font-style: italic;
    font-size: 22px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
  }
  
  .signature img {
    max-width:fit-content;
    max-height: 100px;
    height: auto;
    margin-right: 10px;
  }
  
  .nav-tabs {
    font-family: "futura-pt", sans-serif;
    justify-content: center;
    align-items: center;
    height: 25%;
    margin: 0;
    padding: 125px;
    border-bottom: none;
    border-radius: 0px;
    outline: none;
    list-style: none;
  }
  
  .nav-item {
    margin-right: 30px;
    font-family: "futura-pt", sans-serif;
    font-size: 34px;
    font-weight: bold;
    border-bottom: 0px;
    border:0px grey;
    border-radius: 0px;
  }

  .nav-link active {
    border-bottom: 1px;
    border:1px grey;
    border-radius: 2px;
  }

  .info {
    font-family: "futura-pt", sans-serif;
    color: black;
    font-size: 14px;
    margin-left: 70%;
  }

  .content {
    padding: 10px;  
    justify-content: center;
    align-items: center;
    font-family: "freight-text-pro", serif;
    font-weight: 700;
    font-style: bold;
  }

  .pdf-preview {
    justify-content: center;
    align-items: center;
  }

  .back-link {
    display: block;
    text-align: center;
    margin-top: 10px;
  }
  
.frame {
  margin-top: 20px;
  }

.link {
  position: fixed;
  bottom: 15%;
  left: 20%;
}  

img[src="linkedlin.png"] {
  width: 48px;
  height: auto;
}

.switch-button {
  font-family: "futura-pt", sans-serif;
  font-weight: 300;
}
